<h2>Sobre DnD</h2>
<div>
  Dungeons & Dragons es un juego de rol de fantasía heroica actualmente publicado por Wizards of the Coast.
  <br><br>
  El juego original fue diseñado en Estados Unidos por Gary Gygax y Dave Arneson y publicado por primera vez en 1974 por
  la compañía de Gygax, Tactical Studies Rules.
  <br><br>
  Originalmente derivado de juegos de tablero jugados con lápiz, papel y dados, la primera publicación de Dungeons &
  Dragons es bien conocida como el principio de los juegos de rol modernos y por consiguiente de la industria de los
  juegos de rol.
  <br><br>
  Desde su aparición este juego ha sido publicado a lo largo de un gran número de ediciones y muchas de ellas han sido
  traducidas al castellano, pero conservando siempre en las traducciones el título original en inglés: Dungeons &
  Dragons.
  <br><br>
  En España se usó el título Dragones y mazmorras para la serie animada basada en el juego y para las dos
  primeras películas derivadas del juego.
  En Hispanoamérica, tanto la serie de televisión como las películas se titularon Calabozos y dragones
  <br><br>
</div>
